<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center">
          <h3><i class="fa fa-lock fa-4x"></i></h3>
          <h2 class="text-center">Change Your Password</h2>
          <p>You can reset your password here.</p>
          <div class="panel-body">
            <form
              class="form"
              #f="ngForm"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
            >
              <fieldset>
                <div class="form-group">
                  <label for="password"> New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="newPassword"
                    [(ngModel)]="form.newPassword"
                    placeholder="New Password ..."
                    required
                    minlength="6"
                    #newPassword="ngModel"
                    style="border-radius: 2rem"
                  />
                  <div
                    class="alert-danger"
                    *ngIf="newPassword.errors && f.submitted"
                  >
                    <div *ngIf="newPassword.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="newPassword.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password"> Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="confirmedPassword"
                    [(ngModel)]="form.confirmedPassword"
                    placeholder="Confirm Password ..."
                    required
                    minlength="6"
                    #confirmedPassword="ngModel"
                    style="border-radius: 2rem"
                  />
                  <div
                    class="alert-danger"
                    *ngIf="confirmedPassword.errors && f.submitted"
                  >
                    <div *ngIf="confirmedPassword.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="confirmedPassword.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input
                    class="btn btn-lg btn-secondary btn-block btn-gradient"
                    value="Change Password"
                    type="submit"
                  />
                </div>
              </fieldset>
              <div
                class="alert alert-warning"
                *ngIf="f.submitted && isChangePasswordFailed"
              >
                Change Password failed!<br />{{ errorMessage }}
              </div>
            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
              Password is changed successfully ! Try to login again !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
